@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* font */
h1, p {
  color: #1e1e1e;
  font-family: Plus Jakarta Sans;
}

/* nama */
h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: normal;
}

/* nim dan bio */
p {
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
}

/* profile picture */
.profile-header-banner {
  width: 120px;
  height: 120px;
  position: relative;
}

/* body website */
.body {
  background-color: gray;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* container */
.banner-container {
  display: flex;
  width: 442px;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  background-color: white;
  border-radius: 24px;
}

/* header container */
.header-banner-wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
}

/* content container */
.content-header-banner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
}

/* cta */
.cta-banner-wrapper {
  width: 100%;
}

.cta-button {
  display: flex;
  padding: 10px 177px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 12px;
  background: #efca08;
}

.input-field {
  display: flex;
  padding: 10px 50px 10px 120px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 12px;
  background: #d1cdcd;
}

.cta-button p {
  font-weight: 700;
}